Django>=2.1.6
django-cors-headers==3.2.1
django-debug-toolbar==1.11
django-filter==2.1.0
djangorestframework==3.11.0
hashids==1.2.0
Markdown==3.0.1
psycopg2-binary==2.7.7
pytz==2018.9
sqlparse==0.2.4
